body {
    margin: 0;
    background-color: #f5f7fa;
}

.container {
    width: min(800px, 88%);
    margin: 0 auto;
    border-radius: 7px;
    background: white;
    padding: 23px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    width: min(900px, 95%);
    margin: 10px auto;
    border-radius: 7px;
}
header h1 {
    font-size: 2.2rem;
    font-weight: 700;
}
header h1 a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
nav {
    margin-left: auto;
}
nav a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
nav ul {
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}
main {
    background-color: white;
    padding: 1rem 2rem;
}
/* .nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
} */
/*
body {
    background-color: yellow;
} */